@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
.container {
    min-width: 720px;
    max-width: 1300px;
    margin: 0 auto;
}
header {
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 100px;
    height: 10vh;
    background: linear-gradient(180deg, rgba(16, 112, 255, 0.54), rgba(172, 92, 200, 0.23) 70%);
    border-bottom: 1px solid rgba(140, 119, 223, 0.45);
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    margin-top: -30px;
}
.header > .logo > a > span {
    position: absolute;
    display: block;
    top: 10px;
    padding-left: 45px;
    margin: 0 auto;
    font-style: italic;
    font-weight: 400;
    font-size: 2.3em;
    line-height: 78px;
    background: radial-gradient(104.48% 165.02% at 79.25% 100%, rgba(243, 243, 243, 0.23) 0%, rgba(121, 84, 215, 0.75) 32.29%, rgba(75, 115, 224, 0.63) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 2px;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}
.header > .menu_container {
    padding-top: 0.4em;
}
.header > .menu_container > .menu > .menu_unit{
    display: inline;
    list-style-type: none;
    margin: 0 1rem;
    overflow: hidden;
}
.header > .menu_container > .menu > .menu_unit > a{
    display: inline-block;
    height: 60px;
    width: 60px;
    vertical-align: middle;
    text-align: center;
    padding-top: 5px;
    border-radius: 3px;
}
.header > .menu_container > .menu > .menu_unit > .notifications:before{
    content: '7';
    display: block;
    position: absolute;
    margin-left: 31px;
    width: 25px;
    height: 24px;
    border: 1px solid #7F52B6F9;
    border-radius: 100px;
    padding-top: 1px;
    font-size: 1.2em;
    color: #770ae5;
    text-decoration: none;
}
.header > .menu_container > .menu > .menu_unit > a:hover{
    box-shadow: 2px 2px 5px 5px rgb(216, 183, 250);
    background: rgba(255, 255, 255, 0.17);
    transition: 300ms ease-in-out;
}
.header > .menu_container > .menu > .menu_unit > .active {
    border-radius: 0;
    border-bottom: 2px solid rgba(127, 82, 182, 0.98);
    pointer-events: none;
    cursor: default;
}
#burger{
    display: none;
}
.content_feed{
    margin-top: 150px;
    display: block;
}
.content_feed > .content_post {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    min-height: 250px;
    border-radius: 20px;
    background: radial-gradient(74.24% 74.24% at 50% 50%, rgba(150, 65, 217, 0.315) 0%, rgba(194, 145, 211, 0.17) 100%);
}
.content_feed > .content_post > .content_filling{
    display: inline-flex;
    flex-direction: column;
    padding: 30px 50px;
}
.content_feed > .content_post > .content_filling > .author_info{
    display: flex;
    margin-bottom: 15px;
}
.content_feed > .content_post > .content_filling > .author_info >.author_avatar{
    display: block;
    margin: 10px 10px;
    border-radius: 50px;
}
.content_feed > .content_post > .content_filling > .author_info > h3{
    margin-top: 0;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 56px;
}
.content_feed > .content_post > .content_filling > .author_info > .date {
    margin-top: 50px;
    margin-left: -315px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 32px;
}
.content_feed > .content_post > .content_filling > .content_info {
    display: inline-flex;
}
.content_feed > .content_post > .content_filling > .content_info > .content {
    display: block;
    margin-left: 30px;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 30px;
}

.content_feed > .content_post > .content_filling > .content_info > .content > .music_post_player_box {
    box-sizing: border-box;
    width: 200px;
    height: 70px;
    border: 3px solid #000000;
    border-radius: 50px;
    margin-top: 40px;
}
.content_feed > .content_post > .content_filling > .content_info > .content > .music_post_player_box > label{
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    margin-top: 7px;
    margin-left: 10px;
}
.content_feed > .content_post > .content_filling > .content_info > .content > .music_post_player_box > label > span {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-image: url(Resources/PNG/play-stop.png);
    cursor: pointer;
}
.content_feed > .content_post > .content_filling > .content_info > .content > .music_post_player_box > label > input[type="checkbox"]{
    appearance: none;
}
.content_feed > .content_post > .content_filling > .content_info > .content > .music_post_player_box > label > input[type="checkbox"]:checked + span {
    background-position: 0 -50px;
}
.content_feed > .content_post > .content_filling > .content_info > .content > .music_post_player_box > img{
    margin-top: -75px;
    margin-left: 75px;
}
.content_feed > .content_post > .post_actions{
    display: flex;
    flex-direction: column;
    margin: 30px 30px 0 0;
    height: 250px;
    width: 60px;
}
.content_feed > .content_post > .post_actions > a {
    margin: 25px 0 5px 0;
}
.content_feed > .content_post > .post_actions > label{
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    padding-bottom: 40px;
}
.content_feed > .stream{
    min-height: 820px;
}
.content_feed > .content_post > .post_actions > label > span {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-image: url(Resources/PNG/like2.png);
    cursor: pointer;
}
.content_feed > .content_post > .post_actions > label > input[type="checkbox"]{
    appearance: none;
}
.content_feed > .content_post > .post_actions > label > input[type="checkbox"]:checked + span {
    background-position: 0 -60px;

}
.content_feed > .stream > .content_filling > .author_info:before{
    content: '';
    position: absolute;
    display: block;
    width: 68px;
    height: 68px;
    border: 1px solid red;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 10px;
}
.content_feed > .stream > .content_filling > .author_info > .date {
    Color: #d53535;
    margin-top: 50px;
    margin-left: -150px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 32px;
}
.content_feed > .content_post > .content_filling > .content_info > .stream_player {
    display: block;
}
.content_feed > .content_post > .content_filling > .content_info > .stream_player > .content_stream {
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 22px;
    max-width: 100%;
}
.content_feed > .content_post > .content_filling > .content_info > .stream_player > label{
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    margin: -320px auto 0 auto;
}
.content_feed > .content_post > .content_filling > .content_info > .stream_player > label > span {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-image: url(Resources/PNG/play-stop2.png);
    cursor: pointer;
}
.content_feed > .content_post > .content_filling > .content_info > .stream_player > label > input[type="checkbox"]{
    appearance: none;
}
.content_feed > .content_post > .content_filling > .content_info > .stream_player > label > input[type="checkbox"]:checked + span {
    background-position: 0 -51px;
}
.content_feed > .stream > .post_actions > .link{
    margin-top: 450px;
}
@media screen and (max-width: 960px) {
    #burger{
        display: block;
        width: 10px;
        height: 10px;
    }
    .container{
        max-width: 960px;
    }
}